body {
    font-family: 'Poppins', sans-serif;

}



.flexible-container {
    display: flex;
}

.half {
    width: 80%;
    padding-left: 10%;
    padding-right: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(210, 94, 32, 0.655), red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}