* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;



}



.contribute-1,
.contribute-2 {
    display: flex;
}

.contribute-1 {
    margin: 100px 0;
}

.contribute-2 {
    margin-bottom: 100px;
}



.half {
    width: 80%;
    padding-left: 10%;
    padding-right: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgba(210, 94, 32, 0.655), red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 250px;
}

#update-text {
    text-align: center;
}

.input-group {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-align: center; */
    /* -ms-flex-align: center; */
    align-items: center;
    justify-content: center;
    background-color: bisque;
    width: 50%;
    margin: 100px auto;
    padding: 30px 0;










}

.input {
    min-height: 50px;
    min-width: 150px;
    padding: 0 1rem;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px 0 0 6px;
    background-color: gray;

}

.input::placeholder {
    color: white;

}

.button-submit {

    border-radius: 0 6px 6px 0;
    background-color: orangered;
    color: black;
    font-size: 15px;
    border: none;


    padding: 16.5px;
}

.button-submit:hover {
    background-color: orangered;
}

.input:focus,
input:focus-visible {
    border-color: beige;
    outline: none;
}

#footer-content {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

footer {
    background: black;
    height: auto;
    width: 100%;
    font-family: "open Sans";
    padding-top: 40px;
    color: white;
}

#footer-content h2 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 3rem;
    color: orangered;

}

#footer-bottom p {
    max-width: 500px;
    margin: 10px 500px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}